html,body {
    line-height: 1;
    color: #333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    /* background: url(../img/bg-textbook.jpg) no-repeat center top; */
    /* background: linear-gradient(#ffadd2, #eb2f96); */
    background: linear-gradient(#91d5ff, #1890ff);
    background-size: 100% 100%;
    font-size: 15px;
}
#resultDiv {
    display: none;
}

/* 首页样式 */
#includeStart {
    /* display: none; */
    width: 100%;
    height: 100%;
}
#startQuestion {
    width: 100%;
    height: 100%;
    border: 1px  solid black;
}
/* 开始按钮 */
#startButton {
    margin-top: 100px;
    width: 80%;
    height: 55px;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #fff566;
}
#startButton img {
    margin-left: 10%;
    width: 80%;
    height: 80%;
}
/* 选择难度按钮 */
#selectLevel {
    margin-top: 15px;
    width: 80%;
    height: 55px;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #69c0ff; 
}
#selectLevel img {
    margin-left: 15%;
    width: 70%;
    height: 70%;
}
/* 底部三个圆形按钮 */
#bottomButtons {
    margin-top: 50px;
}
#bottomButtonsText {
    margin-top: 5px;
    color: #ffffff;
}
.bottomEach {
    float: left;
    width: 29%;
    height: auto;
    padding-left: 13%;
    text-align: center;
}
.bottomEach img{
    width: 100%;
    height: 100%;
}
/* 首页图片 */
#indexImgDiv {
    height: 30%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: url("../img/index2.png");
    background-size: 100% 100%;
}
/* 首页标题 */
#indexTitle {
    height: 10%;
    width: 80%;
    margin-left: 10%;
    background: url("../img/maogaidatiaozhan.png");
    background-size: 100% 100%;
}
/* 首页副标题 */
#indexSubtitle {
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
}

/* 答题卡样式 */
#includeAnswer {
    height: 100%;
    width: 100%;
    display: none;
}
/* 答题卡底部个数指示 */
.card_bottom p {
    display: inline;
}

/* 结果样式 */
#includeResult {
    display: none;
    width: 100%;
    height: 100%;
}
.layui-field-title {
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
}
#score {
    margin-top: 60px;
    margin-bottom: 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
#score h2 {
    font-size:  80px;
    color: #f5222d;
    display: inline;
}
#score p {
    font-size: 16px;
    color: #888888;
    display: inline;
}
#resultContent {
    width: 70%;
    margin-left: 13%;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #ffffff;
    height: 90%;
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}
#completeResultDiv {
    margin-top: 30px;
    height: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
#wrongAndRightDiv {
    height: 30px;
    padding: 0 60px 0 60px;    
}
#didTitle, #undidTitle, #rightTitle, #wrongTitle {
    color: #595959;
}
#didNumber, #undidNumber, #wrongNumber, #rightNumber {
    color: #1890ff;
}
/* 结果页两个按钮 */
#resultButton {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px;
}
#returnHome, #scoreText {
    border-radius: 20px;
}
#returnHome i, #scoreText i {
    padding-right:  5px;
}
#returnHome {
    background-color: #ff4d4f;
}
#scoreText {
    background-color: #8c8c8c;
}
#scoreText {
    margin-top: 20px;
}
.layui-btn+.layui-btn {
    margin-left: 0;
}

.infoText {
    display: inline-block;
    line-height: 30px;
}
.resultText {
    display: inline-block;
    line-height: 30px;
}
#leftInfo {
    float: left;
}
#rightInfo {
    float: right;
}
/* 难度选择 */
#setDiff {
    display: none;
}
/* 难度选择下选框 */
.layui-input-block {
    margin-top: 20px;    
    margin-right: 40px;
}
/* 下拉选中的颜色 */
.layui-form-select dl dd.layui-this {
    background-color: #1890ff;
}

/* 个人信息 */
#userInfo {
    display: none;
}
#userInfo div input {
    display: inline-block;
    width: 180px;
}
#userInfo div {
    margin-left: 15px;
    margin-top: 30px;
}
/* 头像 */  
#headPicDiv {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    text-align: center;
}
#headPic {
    width: 100%;
    height: 100%;
    border-radius: 30px;

}
/* 排行榜 */
#rankingListDiv {
    background: #ffffff;
}
#rankingImg {
    width: 100%;
    height: 40%;
    padding: 40px 40px;;
    background-color: #0050b3
}
#rankingImg img {
    width: 100%;
    height: 100%;
}
#rankingPageClass {
    background-color: #0050b3;
    border-radius: 0 0 20px 20px;
}
#rankingPageClass {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: 30px;
}
#rankingListName {
    width: 100%;
    background-color: #ffffff;
}
.rankingButton,
.rankingEachName {
    height: 60px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}
.rankingImgDiv {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}
.rankingImgDiv img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.rankingInfoDiv {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
/* 说明 */
/* #shouming { */
    /* display: none; */
/* } */
#shuoming h2 {
    color: #ff4d4f;
}
#author,
#wangzhanshuoming {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    color: #1890ff;
    line-height: 2;
}