#resultDiv {
    display: none;
}

/* 首页样式 */
#includeStart {
    display: none;
}
#startQuestion {
    width: 100%;
    height: 100%;
    border: 1px  solid black;
}
#startButton {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/* 首页图片 */
#indexImgDiv {
    height: 50%;
    border: 1px solid black;
}

/* 答题卡样式 */
#includeAnswer {
    display: none;
}

/* 结果样式 */
#includeResult {
    /* display: none; */
    width: 100%;
    height: 100%;
}
#resultContent {
    width: 70%;
    margin-left: 13%;
}
#completeResultDiv {
    margin-top: 30px;
    height: 30px;
}
#wrongAndRightDiv {
    height: 30px;
}
.infoText {
    display: inline-block;
    line-height: 30px;
}
.resultText {
    display: inline-block;
    line-height: 30px;
}
#leftInfo {
    float: left;
}
#rightInfo {
    float: right;
}
#scoreText {
    width: 100%;
}